.ctrl, .btn, .btnHg, .flexBtnWrapper .btnFlx, .iconBtn, .btnTxt, .btnTxtOnly, .btnAsLink {
  height: 35px;
  padding: 0 24px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  font-size: 1.4rem;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
}

.btn, .btnHg, .flexBtnWrapper .btnFlx, .iconBtn, .btnTxt, .btnTxtOnly, .btnAsLink {
  cursor: pointer;
  font-weight: 700;
  transition: border 0.15s ease;
  text-align: center;
}

.btn:hover:not(.btnRadio, .btnAsLink), .btnHg:hover:not(.btnRadio, .btnAsLink), .flexBtnWrapper .btnFlx:hover:not(.btnRadio, .btnAsLink), .iconBtn:hover:not(.btnRadio, .btnAsLink), .btnTxt:hover:not(.btnRadio, .btnAsLink), .btnTxtOnly:hover:not(.btnRadio, .btnAsLink), .btnAsLink:hover:not(.btnRadio, .btnAsLink), .btn:focus:not(.btnRadio, .btnAsLink), .btnHg:focus:not(.btnRadio, .btnAsLink), .flexBtnWrapper .btnFlx:focus:not(.btnRadio, .btnAsLink), .iconBtn:focus:not(.btnRadio, .btnAsLink), .btnTxt:focus:not(.btnRadio, .btnAsLink), .btnTxtOnly:focus:not(.btnRadio, .btnAsLink), .btnAsLink:focus:not(.btnRadio, .btnAsLink) {
  text-decoration: none;
  cursor: pointer;
}

.btn:focus:not(.btnRadio), .btnHg:focus:not(.btnRadio), .flexBtnWrapper .btnFlx:focus:not(.btnRadio), .iconBtn:focus:not(.btnRadio), .btnTxt:focus:not(.btnRadio), .btnTxtOnly:focus:not(.btnRadio), .btnAsLink:focus:not(.btnRadio) {
  outline: 0;
}

.btn.form, .form.btnHg, .flexBtnWrapper .form.btnFlx, .form.iconBtn, .form.btnTxt, .form.btnTxtOnly, .form.btnAsLink {
  height: 42px;
}

.btn.btnProcessing, .btnProcessing.btnHg, .flexBtnWrapper .btnProcessing.btnFlx, .btnProcessing.iconBtn, .btnProcessing.btnTxt, .btnProcessing.btnTxtOnly, .btnProcessing.btnAsLink {
  position: relative;
}

.btn.btnProcessing .spinner, .btnProcessing.btnHg .spinner, .flexBtnWrapper .btnProcessing.btnFlx .spinner, .btnProcessing.iconBtn .spinner, .btnProcessing.btnTxt .spinner, .btnProcessing.btnTxtOnly .spinner, .btnProcessing.btnAsLink .spinner {
  display: none;
}

.btn.btnProcessing.processing, .btnProcessing.processing.btnHg, .flexBtnWrapper .btnProcessing.processing.btnFlx, .btnProcessing.processing.iconBtn, .btnProcessing.processing.btnTxt, .btnProcessing.processing.btnTxtOnly, .btnProcessing.processing.btnAsLink {
  pointer-events: none;
}

.btn.btnProcessing.processing::before, .btnProcessing.processing.btnHg::before, .flexBtnWrapper .btnProcessing.processing.btnFlx::before, .btnProcessing.processing.iconBtn::before, .btnProcessing.processing.btnTxt::before, .btnProcessing.processing.btnTxtOnly::before, .btnProcessing.processing.btnAsLink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: 1;
}

.btn.btnProcessing.processing .spinner, .btnProcessing.processing.btnHg .spinner, .flexBtnWrapper .btnProcessing.processing.btnFlx .spinner, .btnProcessing.processing.iconBtn .spinner, .btnProcessing.processing.btnTxt .spinner, .btnProcessing.processing.btnTxtOnly .spinner, .btnProcessing.processing.btnAsLink .spinner {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  background-color: inherit;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.btn .icon, .btnHg .icon, .flexBtnWrapper .btnFlx .icon, .iconBtn .icon, .btnTxt .icon, .btnTxtOnly .icon, .btnAsLink .icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  display: inline-flex;
  align-content: center;
}

.btnTxt, .btnTxtOnly, .btnAsLink {
  text-align: left;
  border: none;
  background: none;
}

.btnTxtOnly, .btnAsLink {
  height: auto;
  display: inline;
  font-size: inherit;
  vertical-align: inherit;
  align-items: inherit;
  justify-content: inherit;
  padding: 0;
}

.btnAsLink {
  font-weight: inherit;
  text-decoration: underline;
}

.btnAsLink:hover {
  text-decoration: underline;
}

.iconBtn {
  font-size: 1.8rem;
  padding: 0 12px;
  width: 35px;
}

.iconBtn.form {
  width: 40px;
}

.flexBtnWrapper .btnFlx {
  min-height: 48px;
  height: auto;
  padding: 25px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 -1px -1px -1px;
}

.flexBtnWrapper .btnFlx + .btnFlx {
  margin-left: 0;
}

.contentBox .flexBtnWrapper .btnFlx:first-child {
  border-bottom-left-radius: 2px;
}

.contentBox .flexBtnWrapper .btnFlx:last-child {
  border-bottom-right-radius: 2px;
}

.flexBtnWrapper.flexBtnTop .btnFlx {
  border-radius: 0;
  border-top: none;
  padding: 0;
  height: 48px;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
}

.flexBtnWrapper.flexBtnTop .btnFlx > * {
  line-height: 16px;
}

.flexBtnWrapper.flexBtnTop .btnFlx.underlineOnly.active, .flexBtnWrapper.flexBtnTop .btnFlx:hover, .flexBtnWrapper.flexBtnTop .btnFlx:focus {
  border-bottom-width: 2px;
}

.flexBtnWrapper.flexBtnTop .btnFlx.underlineOnly.active {
  font-weight: 700;
}

.flexBtnWrapper button {
  line-height: 0;
}

.btnHg {
  font-size: 2rem;
  height: 56px;
}



/*# sourceMappingURL=buttons.css.map */
