
.game-newkind__form {
    max-width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'Roboto', sans-serif;
}

:host {
    margin-bottom: 16px;
    box-shadow: 0px 0.47vw 0.94vw 0px #88919d4d;
    box-sizing: border-box;
    padding: 16px 12px;
}

.game-newkind {
    position: relative;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.game-newkind__canvas {
    cursor: default;
    width: 800px;
    height: 600px;
}

.game-newkind__btn {
    width: 10em;
    border-radius: 0.8em;
    background: var(--Gosblue, #0D4CD3);
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.0em;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    align-self: center;
    cursor: pointer;
    border: none;
    align-self: flex-start;
}

.config {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 99dvw;
    box-sizing: border-box;
}
.item .key {
    color: grey;
}

.item .value {
    color: blue;
}


.queue {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 8px;
    background: black;
}

.inputQueue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*height: 5px;*/
    width: 100%;
    gap: 2px;
}

.outputQueue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*height: 5px;*/
    width: 100%;
    gap: 2px;
}

.queue [class*="sample-"] {
    width: 10px;
    height: 10px;
    /*max-width: 100%;*/
    flex-grow: 1;
}

.sample-0 {
    background: silver;
}

.sample-1 {
    background: orange;
}

.sample-2 {
    background: yellow;
}

.sample-3 {
    background: green;
}

.sample-4 {
    background: #239ae4;
}

.sample-5 {
    background: blue;
}

.sample-6 {
    background: blueviolet;
}

.sample-7 {
    background: magenta;
}


.sample-8 {
    background: aquamarine;
}


.sample-9 {
    background: sandybrown;
}


.sample-10 {
    background: firebrick;
}