.test-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 2px solid;
    box-sizing: border-box;
    padding: 16px 9px;
}

.button {
    color: white;
    border-radius: 0.3vw;
    box-sizing: border-box;
    padding: 0.42vw;
    background: #3c344b;
    cursor: pointer;
}

div.header {
    font-family: 'Raleway-ExtraBold', sans-serif;
    font-size: 100%;
    line-height: 17px;
}