.container {
    display: flex;
    flex-direction: column;
    /*gap: 24px;*/
}

.button {
    color: white;
    border-radius: 0.3vw;
    box-sizing: border-box;
    padding: 0.42vw;
    background: #3c344b;
    cursor: pointer;
}