:host {
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 16/9;
    width: 100%;
}

:host(.inactive) {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
}

.menu {
    width: 100%;
}