.mo-search {
  display: grid;
  font-size: 13px;
  grid-gap: 2px;
  grid-template-columns: 16px auto;
  margin: 6px 12px 0 2px;
}
.mo-search__replace__button {
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  height: calc(100% - 3px);
  transition: background 0.3s;
}
.mo-search__replace__button.codicon {
  align-items: center;
  display: flex;
}
.mo-search__replace__button:hover {
  background: var(--input-background);
}
.mo-search input {
  background-color: var(--list-activeSelectionBackground);
  border-width: 0;
  color: inherit;
}
.mo-search textarea {
  background: var(--input-background);
  border: 1px solid transparent;
  box-sizing: border-box;
  color: var(--input-foreground);
  font-family: inherit;
  font-size: inherit;
  height: 24px;
  line-height: 15px;
  min-height: 23px;
  outline: none;
  overflow: hidden;
  padding: 3px 62px 3px 4px;
  resize: none;
  width: 100%;
}
.mo-search textarea:focus {
  border-color: var(--focusBorder);
}
.mo-search textarea::-webkit-scrollbar {
  opacity: 0;
}
.mo-search .scrollbar-invisible {
  position: absolute;
  right: 0;
}
.mo-search__toolbar {
  height: auto;
  position: absolute;
  right: 2px;
  top: 2px;
}
.mo-search__toolbar .mo-action-bar__item {
  color: var(--activityBar-foreground);
  opacity: 0.7;
  transition: opacity 0.3s;
}
.mo-search__toolbar .mo-action-bar__item--checked {
  background: var(--inputOption-activeBackground);
  opacity: 1;
}
.mo-search__input {
  position: relative;
}
.mo-search__group .mo-search__input + .mo-search__input {
  margin-top: 5px;
}
.mo-search__base {
  padding: 5px;
  position: absolute;
  z-index: 1;
}
.mo-search__base:not(textarea) {
  margin-top: -1px;
  width: calc(100% - 12px);
}
.mo-search .mo-search__info {
  border: 1px solid var(--inputValidation-infoBorder);
}
.mo-search .mo-search__info:active, .mo-search .mo-search__info:focus {
  border-color: var(--inputValidation-infoBorder);
}
.mo-search .mo-search__info:not(textarea) {
  background: var(--inputValidation-infoBackground);
}
.mo-search .mo-search__warning {
  border: 1px solid var(--inputValidation-warningBorder);
}
.mo-search .mo-search__warning:active, .mo-search .mo-search__warning:focus {
  border-color: var(--inputValidation-warningBorder);
}
.mo-search .mo-search__warning:not(textarea) {
  background: var(--inputValidation-warningBackground);
}
.mo-search .mo-search__error {
  border: 1px solid var(--inputValidation-errorBorder);
}
.mo-search .mo-search__error:active, .mo-search .mo-search__error:focus {
  border-color: var(--inputValidation-errorBorder);
}
.mo-search .mo-search__error:not(textarea) {
  background: var(--inputValidation-errorBackground);
}
.mo-search__tree {
  margin-top: 5px;
}
.mo-search__treeNode--empty {
  margin: 6px 12px 0 18px;
}
.mo-search__treeNode--delete {
  text-decoration: line-through;
}
.mo-search__treeNode--match {
  background-color: var(--editor-findMatchHighlightBackground);
}
.mo-search__treeNode--match.mo-search__treeNode--delete {
  background-color: var(--diffEditor-removedTextBackground);
}
.mo-search__treeNode--replace {
  background-color: var(--diffEditor-insertedTextBackground);
}