:host {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-height: 84px;
    box-sizing: border-box;
    box-shadow: 0px 0.47vw 0.94vw 0px #88919d4d;
    padding: 16px 12px;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

summary:focus-visible {
    outline: none;
    border: none;
}

summary::after {
    content: '';
    width: 25px;
    height: 24px;
    background: url('./dropdown.svg') no-repeat;
    background-size: 100% 100%;
    transition: 0.2s;
}

details[open] > summary::after {
    transform: rotate(180deg);
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    color: #30353b;
    height: 52px;
}

details[open] summary {
    border-radius: 5px 5px 0 0;
}

details {
    /*background: var(--Input, #F5F7FA);*/
    border-radius: 5px;
}

h1 {
    font-size: 1.2em;
}

article > *:first-child {
    margin: 0;
}

article > * + * {
    margin: 0.75em 0 0 0;
}

pre {
    display: flex;
    flex-direction: column;
    color: white;
    background: #443c35;
    border-radius: 5px;
}

article {
    margin: 0;
}

details code {
    font-size: 1.1em;
}

.link {
    align-self: center;
    color: var(--main-color, #00A0A8);
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.06vw;
    line-height: 0.97vw;
    margin: 0;
    cursor: pointer;
}

.settings {
    display: flex;
    flex-direction: column;
}

code {
    word-break: break-word;
    display: flex;
    /*white-space: break-spaces;*/
    max-height: 50dvh;
    overflow-y: auto;
}