@import url('./index.shadow.desktop.css');
@import url('../../../nk-tests/this/css/index.shadow.desktop.css');

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}