button {
    width: max-content;
    height: 52px;
    border-radius: 8px;
    background: var(--Gosblue, #0D4CD3);
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: center;
    cursor: pointer;
    border: none;
}

.settings__block_0 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

button {
    min-width: 9dvw;
}